<h1>Editing Question</h1>

<%= render 'form' %>

<%= link_to 'Back to question', @question %>
<%= link_to 'Back to all questions', questions_path %>
<%= button_to 'Delete', @question, method: :delete, data: { confirm: 'Are you sure?'} %>
 <br> <%= link_to 'Logout!', logout_path %>
