<h1> <%= @question.title %></h1>

<%= form_for [@question, @answer] do |f| %>
  <%= f.label :body, "Write your Answer here:" %>
  <%= f.text_field :body %>

  <%= f.submit "Submit Answer"%>
<% end %>
